@model List<GameVM>

<div class="container text-center russo-one mt-2">
    <h2 style="color: blanchedalmond;">Популярное</h2>
</div>

<section id="carouselExample" class="carousel slide c-item russo-one">
    <div class="carousel-inner">

        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="carousel-item @(i == 0 ? "active" : "") c-item">
                <a asp-controller="Game" asp-action="Index" asp-route-id="@Model[i].Id">
                    <img src="@Model[i].CrslImg" class="d-block w-100 c-img" alt="@Model[i].Title">
                    <div class="carousel-caption">
                        <h1 style="color: blanchedalmond;">@Model[i].Title</h1>
                    </div>
                </a>
            </div>
        })
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
        <span class="visually-hidden">Next</span>
    </button>
</section>

<section class="backgroundHeaderFooter russo-one" style="height: 80px;">
    <div class="container h-100 d-flex align-items-lg-center">
        <div class="row w-100 text-center fs-4">
            <div class="col-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                    <path d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2 2 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a10 10 0 0 0-.443.05 9.4 9.4 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a9 9 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.2 2.2 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.9.9 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                </svg>
                Лучшие цены
            </div>
            <div class="col-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-piggy-bank" viewBox="0 0 16 16">
                    <path d="M5 6.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0m1.138-1.496A6.6 6.6 0 0 1 7.964 4.5c.666 0 1.303.097 1.893.273a.5.5 0 0 0 .286-.958A7.6 7.6 0 0 0 7.964 3.5c-.734 0-1.441.103-2.102.292a.5.5 0 1 0 .276.962" />
                    <path fill-rule="evenodd" d="M7.964 1.527c-2.977 0-5.571 1.704-6.32 4.125h-.55A1 1 0 0 0 .11 6.824l.254 1.46a1.5 1.5 0 0 0 1.478 1.243h.263c.3.513.688.978 1.145 1.382l-.729 2.477a.5.5 0 0 0 .48.641h2a.5.5 0 0 0 .471-.332l.482-1.351c.635.173 1.31.267 2.011.267.707 0 1.388-.095 2.028-.272l.543 1.372a.5.5 0 0 0 .465.316h2a.5.5 0 0 0 .478-.645l-.761-2.506C13.81 9.895 14.5 8.559 14.5 7.069q0-.218-.02-.431c.261-.11.508-.266.705-.444.315.306.815.306.815-.417 0 .223-.5.223-.461-.026a1 1 0 0 0 .09-.255.7.7 0 0 0-.202-.645.58.58 0 0 0-.707-.098.74.74 0 0 0-.375.562c-.024.243.082.48.32.654a2 2 0 0 1-.259.153c-.534-2.664-3.284-4.595-6.442-4.595M2.516 6.26c.455-2.066 2.667-3.733 5.448-3.733 3.146 0 5.536 2.114 5.536 4.542 0 1.254-.624 2.41-1.67 3.248a.5.5 0 0 0-.165.535l.66 2.175h-.985l-.59-1.487a.5.5 0 0 0-.629-.288c-.661.23-1.39.359-2.157.359a6.6 6.6 0 0 1-2.157-.359.5.5 0 0 0-.635.304l-.525 1.471h-.979l.633-2.15a.5.5 0 0 0-.17-.534 4.65 4.65 0 0 1-1.284-1.541.5.5 0 0 0-.446-.275h-.56a.5.5 0 0 1-.492-.414l-.254-1.46h.933a.5.5 0 0 0 .488-.393m12.621-.857a.6.6 0 0 1-.098.21l-.044-.025c-.146-.09-.157-.175-.152-.223a.24.24 0 0 1 .117-.173c.049-.027.08-.021.113.012a.2.2 0 0 1 .064.199" />
                </svg>
                Накопительные скидки
            </div>
            <div class="col-xl">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
                    <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z" />
                </svg>
                Легкая оплата
            </div>
        </div>
    </div>
</section>

<div class="container text-center russo-one mt-2">
    <h2 style="color: blanchedalmond;">Игры по категорям</h2>
</div>

<section class="mb-4" id="genres">
    <div class="container w-75 ">
        <div class="row row-cols-1 row-cols-lg-3 g-4">
            <div class="col">
                <a asp-controller="Home" asp-action="List">
                    <div class="card border-3 border-black mx-auto shadow" style="width: 340px; height: 400px; position: relative;">
                        <img src="/images/all_genres.jpg" class="card-img genre-img" alt="...">
                        <div class="position-absolute top-50 start-50 translate-middle text-center">
                            <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: blanchedalmond; text-shadow: 2px 2px 4px black;" class="h1">Все игры</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a asp-controller="Home" asp-action="List" asp-route-genre="RPG">
                    <div class="card border-3 border-black mx-auto shadow" style="width: 340px; height: 400px; position: relative;">
                        <img src="/images/rpg.jpg" class="card-img genre-img" alt="...">
                        <div class="position-absolute top-50 start-50 translate-middle text-center">
                            <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: blanchedalmond; text-shadow: 2px 2px 4px black;" class="h1 ">RPG</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a asp-controller="Home" asp-action="List" asp-route-genre="Shooter">
                    <div class="card border-3 border-black mx-auto shadow" style="width: 340px; height: 400px; position: relative;">
                        <img src="/images/shooter.jpg" class="card-img genre-img" alt="...">
                        <div class="position-absolute top-50 start-50 translate-middle text-center">
                            <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: blanchedalmond; text-shadow: 2px 2px 4px black;" class="h1 ">Shooters</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a asp-controller="Home" asp-action="List" asp-route-genre="Racing">
                    <div class="card border-3 border-black mx-auto shadow" style="width: 340px; height: 400px; position: relative;">
                        <img src="/images/gonki.jpg" class="card-img genre-img" alt="...">
                        <div class="position-absolute top-50 start-50 translate-middle text-center">
                            <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: blanchedalmond; text-shadow: 2px 2px 4px black;" class="h1 ">Racings</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a asp-controller="Home" asp-action="List" asp-route-genre="Fighting">
                    <div class="card border-3 border-black mx-auto shadow" style="width: 340px; height: 400px; position: relative;">
                        <img src="/images/fighting.jpg" class="card-img genre-img" alt="...">
                        <div class="position-absolute top-50 start-50 translate-middle text-center">
                            <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: blanchedalmond; text-shadow: 2px 2px 4px black;" class="h1 ">Fightings</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col">
                <a asp-controller="Home" asp-action="List" asp-route-genre="Horror">
                    <div class="card border-3 border-black mx-auto shadow" style="width: 340px; height: 400px; position: relative;">
                        <img src="/images/horror.jpg" class="card-img genre-img" alt="...">
                        <div class="position-absolute top-50 start-50 translate-middle text-center">
                            <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: blanchedalmond; text-shadow: 2px 2px 4px black;" class="h1 ">Horrors</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>